{{ define "main" }}
<style>
    p{margin-bottom: 24px}
</style>
<section class="text-gray-700 body-font dark:text-white">
    <div class="container px-5 py-8 mx-auto">
        <div class="flex">
            <div class="justify-center w-4/12">
                <img  src="/Andrea_icon_op2.png">
            </div>
            <div class="grid w-1/2 pl-20 content-center">
                <p>Hi!</p>
                <p>I’m Andrea Ono. I’m a Peruvian communicator living in Sweden and currently studying motion design at Hyper Island. I love my dog Paco (aka Chapo), bold colors and any kind of handcrafts.</p>
                <p>If you like what I do or just want to say hi, feel free to reach me on <strong style="color: #f56b5d;">andrea.ono@hyperisland.se</strong></p>
            </div>
        </div>

    </div>
</section>

{{ end }}
